<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="luonq.mapper.TradeCalendarMapper">

    <sql id="queryColumn">
        `id` as id,
        `date` as date,
        `date_type` as type
    </sql>

    <insert id="batchInsertTradeCalendar">
        insert into `trade_calendar` (`date`,`date_type`) values
        <foreach collection="list" separator="," item="item">
            (#{item.date}, #{item.type})
        </foreach>
        on duplicate key update
        `date`=values(date),
        `date_type`=values(date_type)
    </insert>

    <select id="queryTradeCalendar">
        select <include refid="queryColumn"/> from `trade_calendar`
        where date = #{tradeDate}
    </select>
</mapper>
